/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
    width: 100vw;
    position: relative;
}

.bg-map{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    margin: auto;
}

.bg-map::-webkit-scrollbar{
    display: none;
}

.bg-map img{
    position: absolute;
}

.main{
    position: absolute;
    top: 0;
    text-align: center;
    padding-top: 100px;
}

.search-bar{
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100vw;
    margin: 0;
    z-index: 200;
    text-align: center;
    padding: 20px;
}

#search-bar{
    border: 1px solid black;
    font-size: 1.2rem;
}

.search-wrapper{
    width: 70%;
    margin: auto;
    background-color: white;
    box-shadow: 0 6px 20px;
    border-radius: 5px;
}

.suggestions{
    text-align: center;
}

.suggestion-list{
    margin: 0 auto;
    padding: 10px 5%;
    text-align: left;
    list-style-type: none;
    position: relative;
    z-index: 105;
    display: none;
    max-height: 70vh;
    overflow-y: scroll;
}

.building-place{
    color: grey;
    font-size: 0.8rem;
}

.box-input{
    width: 100%;
}

.tag{
    position: absolute;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    color: white;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    font-family: 'Inter', sans-serif;
    width: 60px;
    text-wrap: normal;
    z-index: 103;
}

#main-parking{
    top: 1050px;
    left: 1950px;
}

.zoom-buttons{
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.layer-button{
    position: fixed;
    left: 40px;
    bottom: 40px;
}

#map-icon{
    background-color: lightgreen;
}

.visible{
    display: block;
}

.invisible{
    display: none;
}

.zoom-buttons .icon{
    margin: 5px;
}

.place-details{
    background: white;
    border: 1px solid black;
    border-radius: 15px 15px 0 0;
    position: fixed;
    width: 70vw;
    height: 0; /*300px;*/
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    visibility: hidden;
    transition: height 1s, visibility 1s;
    z-index: 104;
}

.place-title{
    font-size: 1.65rem;
    font-weight: 500;
    margin-bottom: 7px;
}

.place-main{
    font-weight: 400;
    font-size: 1rem;
    color: #999999;
}

.floors{
    white-space: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    margin-top: 15px;
    padding: 10px 0;
    background: -webkit-linear-gradient(-90deg, #cccccc77, #ffffff, #ffffff, #ffffff);
    border-bottom: 0.5px solid #EEEEEE;
}

.floors::-webkit-scrollbar{
    display: none;
}

.floor{
    display: inline-block;
    margin: 0 5px;
    width: 90px;
    text-align: center;
}

.floor.active{
    color: mediumslateblue;
}

.underline{
    position: absolute;
    height: 2px;
    width: 100px;
    bottom: 0;
    left: 0;
    background: mediumslateblue;
    border-radius: 20%;
    transform: translateX(0px);
    transition: transform 500ms ease-in-out;
}

.classes{
    margin-top: 20px;
    padding: 0 25px;
    font-size: 1rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    list-style: none;
    height: 50%;
    overflow-y: scroll;
    display: none;
}

.classes::-webkit-scrollbar-track{
    display: none;
}

.classes.visible{
    display: block;
}

.classes li::before {
    content: "\2022";
    color: mediumslateblue;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.get-down-btn{
    position: absolute;
    background: -webkit-linear-gradient(135deg, #ffffff, #cccccc88);
    border: 1px solid grey;
    border-radius: 50%;
    bottom: 0; /* 325px*/
    left: 50%;
    width: 48px;
    height: 48px;
    transform: translateX(-50%);
    visibility: hidden;
    transition: bottom 1s, visibility 1s;
}

.down-arrow{
    height: 24px;
    width: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.legend{
    height: 32px;
    width: 32px;
    position: absolute;
}

@media screen and (max-width: 540px){
    .search-wrapper{
        width: 95%;
    }

    .box-input{
        width: 100%;
    }

    .place-details{
        width: 100vw;
    }
}