/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
    width: 100vw;
    position: relative;
}

.bg-map{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    margin: auto;
}

.bg-map img{
    position: absolute;
}



.main{
    position: absolute;
    top: 0;
    text-align: center;
    padding-top: 100px;
}

.search-bar{
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100vw;
    background-color: #F2F4F6;
    margin: 0;
    z-index: 100;
    text-align: center;
    padding: 20px;
}

.tag{
    position: absolute;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    color: white;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    font-family: 'Inter', sans-serif;
    width: 50px;
    text-wrap: normal;
}

#main-parking{
    top: 1050px;
    left: 1950px;
}

.zoom-buttons{
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.layer-button{
    position: fixed;
    left: 40px;
    bottom: 40px;
}

#map-icon{
    background-color: lightgreen;
}

.visible{
    display: block;
}

.invisible{
    display: none;
}

.zoom-buttons .icon{
    margin: 5px;
}